@charset "UTF-8";

/* GENERAL and CLEANUP */
* {
  margin: 0px;
  padding: 0px;
}

img {
  border: 0px;
  vertical-align: bottom;
}

body {
  background-color: #121013;
  font-size: 14px;
  font-family: "华文仿宋";
  color: #fff;
}
#dangban {
  width: 150px;
  height: 100vh;
  position: fixed;
  background: rgb(119, 168, 255);
  background: linear-gradient(
    58deg,
    rgba(59, 59, 59, 1) 0%,
    rgb(73, 73, 73) 60%,
    rgba(241, 198, 108, 1) 100%
  );
  z-index: 100;
}
/* PARALLAXER */
ul#panelControl {
  position: fixed;
  bottom: 50px;
  left: 200px;
  z-index: 999;
}

ul#panelControl li {
  float: left;
  display: block;
  padding-right: 3px;
}

ul#panelControl li a {
  display: block;
  border-radius: 2px;
  /* border: 0.5px solid #868686; */
  background-color: transparent;
  color: #fff;
  width: 26px;
  height: 26px;
  text-align: center;
  font-size: 20px;
  line-height: 22px;
  text-decoration: none;
}

ul#panelControl li a.clicked {
  /* opacity: 0.3; */
  /* filter: alpha(opacity=30); */
  border: none;
  background: rgb(59, 59, 59);
  background: linear-gradient(
    158deg,
    rgba(59, 59, 59, 1) 0%,
    rgb(88, 88, 88) 60%,
    rgba(241, 198, 108, 1) 100%
  );
}

ul#panelControl li a:hover {
  text-decoration: none;
  opacity: 1;
  /* filter: alpha(opacity=100); */

  background-color: #fff;
  color: #f4c66d;
  box-shadow: 0px 5px 5px #f4c66d;
}

ul#panelControl li a span {
  display: block;
  padding-top: 2px;
}

#overflowControl {
  overflow: hidden;
  position: relative;
  height: 620px;
  top: 130px;
}

#layerSling {
}

#layerSling > div {
  display: block;
  position: absolute;
  top: 0px;
  left: 0;
}

#layerSling .p {
  height: 400px;
  float: left;
  position: relative;
  overflow: visible;
  text-align: center;
}

#layerSling .p img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

#layerB .p {
  width: 400px;
}

#layerB .p .narrative {
  position: absolute;
  top: 400px;
  left: 0;
  width: 360px;
  padding: 20px;
  text-align: left;
}

/* FLAIR
#layerA .p {
	width: 300px;
	box-shadow: inset 5px -50px 40px rgba(218, 74, 141, 0.9);
	color: #942a5c;
}

#layerB .p {
	width: 400px;
	box-shadow: inset 5px -40px 40px rgba(187, 135, 197, 0.9);
	color: #86578f;
}

#layerC .p {
	width: 500px;
	box-shadow: inset 5px -30px 40px rgba(165, 166, 216, 0.9);
	color: #696aae;
}

#layerD .p {
	width: 600px;
	box-shadow: inset 5px -20px 40px rgba(154, 206, 241, 0.9);
	color: #4ca1d9;
}

#layerE .p {
	width: 700px;
	box-shadow: inset 5px -10px 40px rgba(153, 227, 255, 0.9);
	color: #3dc3f5;
} */
